body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #0077cc;
    color: #fff;
    width: 100%;
}


img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

/* main {


    padding: 20px;
    text-align: center;
}




.divtainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
} */

main {
    text-align: center;
    padding: 20px;
}

.info-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.github {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
    color: #0077cc;
}

a:hover {
    color: #001bcc;
}

@media (min-width: 768px) {
    main {
        display: flex;
        /* justify-content: space-around; */
    }
}